footer, h3{
    text-align: center;
}
.article{
       margin-top: 50px;
}
h1,h2,h3,h4,h5,h6 {
    clear: both;
    font-weight: 700;
}

.entry-content h3,
.entry-summary h3,
.page-content h3,
.comment-content h3 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.1667;
    margin-top: 2.3333em;
    margin-bottom: 1.1667em;
}
 .a-table {
     width: 100%;
     border: 1px solid black;
     border-collapse: collapse;
     margin-top: 30px;
     margin-bottom: 60px;
 }
 td {
     border: 1px solid black;
     border-collapse: collapse;
 }

.form-item {
    width: 100%;
}